/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');


/* ROOT CONFIG */
:root {
  --font-family--primary: 'Inter', sans-serif;

  --color--background: #F6F8F9;
  --color--white: #FFF;
  --color--red: #EF4E4E;
  --color--green: #13a351;
  --color--dark-grey: #363636;
  --color--text-light: #818EA0;
  --color--border: #E5E8EC;
}


/* INITIAL CONFIG */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  font-family: var(--font-family--primary) !important; 
}


/***************/
body {
    background-color: var(--color--background);
    margin-bottom: 60px;
}

.container {
  margin: auto;
  max-width: 80%;
}

@media only screen and (max-width: 770px) {
  .container {
    max-width: 90%;
  }
}

.confirmed {
  background-color: var(--color--red);
}

.recovered {
  background-color: var(--color--green);
}

.death {
  background-color: var(--color--dark-grey);
}